{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello there! I'm <b>Grapheel Darel Pandey</b>, you can call me "<b>Darel</b>". I'm a passionate and curious university student
          eager to share my jourey with you!
        </p>
        <p>
          Currently pursuing <b>Informatics</b> degree at <b>Universitas Gunadarma</b>, I'm on a quest
          to explore the world of Computer Science. My areas of interest are <b>Software Development, Competitive Programming, Web Development,
          and Data Science</b>, I believe that having a lot of interest can make you a well rounded individual.
        </p>
        <p>
          <strong>Why Computer Science?</strong>
          Computer Science is more than just a field of study for me; it's a world of endless possibilities. 
          It's the art of turning lines of code into innovative solutions that can change lives. 
          Whether it's coding different algorithms, creating applications, or delving into the mysteries of data, 
          I'm constantly trying to learn new things and so invested that I'm interested in that many field.
        </p>
        <p>
          <ul>
            <li>
              <b>Competitive Programming</b>
            </li>
            <p>
              I enjoy engaging in Competitive Programming challenges. 
              There's something exhilarating about solving complex coding problems under a tight deadline, 
              and it's a hobby that continually pushes me to improve my coding skills.
            </p>
            <li>
              <b>Software Development</b>
            </li>
            <p>
              Software Development is another realm I'm deeply passionate about. 
              I find joy in bringing ideas to life through web applications, and I've dabbled in projects like GEMASTIK XVI for Pengembangan Perangkat Lunak (Software Development). 
              The ability to create seamless online experiences fascinates me.
            </p>
            <li>
              <b>Data Science</b>
            </li>
            <p>
              Data Science is where I explore the world through data's lens. 
              Extracting meaningful insights from raw data and using them to make informed decisions is both an art and a science. 
              I'm eager to unravel more data-driven stories and insights in this journey.
            </p>
          </ul>
        </p>
        <p>
          As I continue my academic adventure, I aspire to be a Software Engineer for a MAANG Company. 
          I believe that technology can be a force for good, and I'm excited to contribute to its evolution. <br>
        </p>
        <p>
          Thank you for visiting my digital space, and I can't wait to embark on this tech-savvy journey with you!
        </p>
        <p>
          Warm regards,<br>
          Darel
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
